<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232922886145-7injfc8be5ko6ku1e5b4hd2e0scmdkd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232922886145-7injfc8be5ko6ku1e5b4hd2e0scmdkd2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>232922886145-5onpinsf6poh73qv5ln2jei02vcvp455.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJBh4gb8rqh8O0ahU1pDOMqQxOV13aiY4</string>
	<key>GCM_SENDER_ID</key>
	<string>232922886145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.advn.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>trackasis-80f6d</string>
	<key>STORAGE_BUCKET</key>
	<string>trackasis-80f6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232922886145:ios:b9695313236d4e09081000</string>
	<key>DATABASE_URL</key>
	<string>https://trackasis-80f6d.firebaseio.com</string>
</dict>
</plist>